body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.left-div{
    margin-top: 10%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
}
.left-side{
    margin-top: 6%;
    margin-left: 1%;
}
.left-border{
    border-left: 5px solid #f5645f;
    padding-left: 2%;
}
.top-banner{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
    margin: auto;
}
.img_2{
    width: 38%;
    padding-top: 0%;
    margin-top: 0%;
}
.dream{
    padding-top: 3%;    
    padding-right: 10%;
}
.dream-bg{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    margin: 0;
    background-position: right;
}
.experience-area {
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 150px;
}
.dream-section{
    margin-bottom: 10%;
}
.experience-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: dimgray;
}